#home {
    height: 100vh;
    width: 100vw;
}

.home-intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    .home-intro__description {
        font-size: 1.3rem;
        max-width: 50%;
    }
}

.green-line-div {
    height: 0.3rem;
    width: 90%;
    background: linear-gradient( 270deg, rgba(87, 216, 67, 0) 0%, #57d843 54.17%, rgba(87, 216, 67, 0) 100%);
}

.home-image-data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    img {
        margin: 1rem;
    }
}