#api {
    height: 100vh;
    width: 100vw;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.api-usage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .api-usage__section {
        width: 60%;
    }
}

.api-usage-content {
    background-color: #222222;
    height: 40%;
}